### Lib ###
.idea
venv/
airflow/logs

### Projects ###
projects/lazada/data/
projects/lazada/logs/
projects/lazada/proxy_auth_extension/
projects/lazada/template/
projects/lazada/chromedriver.exe
projects/lazada/proxy_auth_extension.zip
projects/lazada/lazada/settings.py
projects/lazada/lazada/__pycache__

projects/shopee/logs/
projects/shopee/output/
projects/shopee/chromedriver.exe

projects/tiki/logs
projects/tiki/chromedriver.exe
projects/tiki/tiki/settings.py
projects/tiki/tiki/__pycache__
