<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcomAnalyzer - Công cụ phân tích cho nhà bán</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="../static/css/custom-style.css" th:href="@{/css/custom-style.css}">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- Left Side-Bar Menu -->
            <div class="left-sidebar">
                <ul>
                    <li>
                        <a href="#" th:href="@{/}">
                            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="logo">
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           th:href="@{/}"
                           th:classappend="${menuItem == 1} ? 'active' : ''">Phân tích theo giai đoạn
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           th:href="@{/best-selling}"
                           th:classappend="${menuItem == 2} ? 'active': ''">Sản phẩm bán chạy
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           th:href="@{/user-profile}"
                           th:classappend="${menuItem == 3} ? 'active' : ''">Tài khoản</a>
                    </li>
                    <li>
                        <a href="#"
                           th:href="@{/}"
                           th:classappend="${menuItem == 4} ? 'active' : ''">Hướng dẫn sử dụng</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main content-->
        <div class="col-10">
            <!-- Header Bar -->
            <div class="header-bar">
                <h2 th:text="${menuHeader}"></h2>
                <div class="user-info">
                    <p>Hola! <span th:text="${username}"></span></p>
                    <form id="logoutForm" class="logout-btn" th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <a href="#" onclick="document.getElementById('logoutForm').submit()" style="text-decoration: none; color: #F58F12">Đăng xuất</a>
                    </form>
                </div>
            </div>

            <!-- Products Filter-->
            <form class="row gy-2 gx-3 align-items-center filter-form"
                  th:method="get" th:action="@{/best-selling}" th:object="${dto}">
                <div class="col-auto">
                    <label class="form-label" for="platformSelect">Chọn Sàn</label>
                    <select class="form-select" id="platformSelect"
                            th:field="*{platformId}">
                        <option th:value="${-99}" selected>Chọn...</option>
                        <option th:each="platform : ${platforms}"
                                th:value="${platform.getPlatformId()}"
                                th:text="${platform.getPlatformName().toUpperCase()}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <label class="form-label" for="categorySelect">Ngành hàng</label>
                    <select class="form-select" id="categorySelect"
                            th:field="*{categoryId}">
                        <option th:value="${-99}" selected>Tất cả</option>
                        <option th:each=" category : ${categories}"
                                th:value="${category.getCategoryId()}"
                                th:text="${category.getCategoryName()}"></option>
                    </select>
                </div>
                <div class="col-auto">
                    <label class="form-label" for="orderBySelect">Sắp xếp theo</label>
                    <select class="form-select" id="orderBySelect"
                            th:field="*{orderBy}">
                        <option th:value="${-99}" selected>Chọn...</option>
                        <option value="sold">Lượt bán</option>
                        <option value="amount">Doanh thu</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label class="form-label" for="orderByInput">Từ khoá</label>
                    <input type="text" class="form-control" id="orderByInput" placeholder="Nhập từ khoá"
                           th:field="*{keywords}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mt-4">Lọc</button>
                </div>
            </form>

            <!-- No data to show message -->
            <div class="container nodata-message" style="height: 350px"
                 th:if="${!showData}">
                <h3>Không có dữ liệu để hiển thị!</h3>
            </div>

            <!-- Best Seller Section -->
            <div class="report-section table-container" th:if="${showData}">
                <div>
                    <h4>Sản phẩm bán chạy</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Giá</th>
                            <th>Lượt đánh giá</th>
                            <th>Đánh giá TB</th>
                            <th>Ngành hàng</th>
                            <th>Nhà bán</th>
                            <th>Thương hiệu</th>
                            <th>Địa điểm</th>
                            <th>Tổng số lượt bán</th>
                            <th>Tổng doanh thu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${productsData}">
                            <td>
                                <div class="product-cell">
                                    <img th:src="${product.getProductImage()}"
                                         alt="product-img">
                                    <a th:href="${product.getProductUrl()}"
                                       target="_blank">
                                        <span th:text="${product.getProductName()}"></span>
                                    </a>
                                </div>
                            </td>
                            <td th:text="${#numbers.formatDecimal(product.getProductPrice(), 0, 'COMMA', 0, 'POINT') + 'đ'}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getProductReviewCount(), 0, 'COMMA', 0, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getProductRatingScore(), 0, 'COMMA', 0, 'POINT')}"></td>
                            <td th:text="${product.getCategoryName()}"></td>
                            <td th:text="${product.getSellerName()}"></td>
                            <td th:text="${product.getBrandName()}"></td>
                            <td th:text="${product.getLocationName()}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getTotalSold(), 0, 'COMMA', 0, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(product.getTotalAmount(), 0, 'COMMA', 0, 'POINT') + 'đ'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation" th:if="${totalPage > 1}">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/best-selling(page=1, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=1)}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${currentPage - 1}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${currentPageBatch})}">Previous</a>
                        </li>

                        <li class="page-item" th:if="${currentPageBatch > 1}">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${(currentPageBatch - 1) * pagesPerBatch}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${currentPageBatch - 1})}">...</a>
                        </li>

                        <li class="page-item"
                            th:each="page : ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${page == currentPage} ? 'active'">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${page}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${currentPageBatch})}"
                               th:text="${page}">Page</a>
                        </li>

                        <li class="page-item" th:if="${currentPageBatch * pagesPerBatch < totalPage}">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${currentPageBatch * pagesPerBatch + 1}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${currentPageBatch + 1})}">...</a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == totalPage} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${currentPage + 1}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${currentPageBatch})}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPage} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/best-selling(page=${totalPage}, platformId=${platformId}, categoryId=${categoryId}, orderBy=${orderBy}, keywords=${keywords}, currentPageBatch=${(totalPage / pagesPerBatch) + 1})}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Footer Section -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 item">
                            <a href="#"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                                             alt="logo"></a>
                            <p><b>EcomAnalyzer</b> là dự án cá nhân với mục tiêu thu thập được dữ liệu chất lượng từ các
                                sàn
                                thương mại điện tử tại Việt Nam, từ đó đưa ra cho các nhà bán hàng những góc nhìn về
                                chiến lược
                                sản phẩm.</p>
                        </div>
                        <div class="col-md-4 item">
                            <b>Thông tin liên hệ</b>
                            <ul class="list-unstyled">
                                <li>Representative: Nguyễn Đức Trường</li>
                                <li>Address: Số 10 Tôn Thất Thuyết, Cầu Giấy, Hà Nội</li>
                                <li>Email: ductruong.bkhn@gmail.com</li>
                                <li>Phone: 0949331794</li>
                            </ul>
                        </div>
                        <div class="col-md-3 item">
                            <b>Kết nối với tôi</b>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fab fa-github"></i> Github</a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--End row-->
</div> <!--End container-fluid-->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const platformSelect = document.getElementById('platformSelect');
        const categorySelect = document.getElementById('categorySelect');

        platformSelect.addEventListener('change', function () {
            const platformId = platformSelect.value;

            fetch(`/categories/${platformId}`)
                .then(response => response.json())
                .then(data => {
                    // Clear current options
                    categorySelect.innerHTML = '<option selected value="-99">Tất cả</option>';

                    // Populate new options
                    data.forEach(category => {
                        const option = document.createElement('option');
                        option.value = category.categoryId;
                        option.textContent = category.categoryName;
                        categorySelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error loading categories:', error));
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
